## bash aliases

## python dev projects
alias cdpcars='cd ~/prj/python/pcars; . ./init.sh'

## vim
alias vi='nvim'

## networking
alias default-route-interface="ip route get default | sed -e 's/^.*dev //g'"
alias default-ip="ip addr show $(default-route-interface) | grep 'inet ' | sed -e 's/^.*inet //g' -e 's/\/.*//g'"

## enable ls colors
alias ls='ls --color'

## osx fix dns
alias osx-fix-dns='sudo killall -9 mDNSResponder'
alias osx-hup-dns='sudo kill -9 $(pgrep -f "dnsmasq")'

## ruby
alias be='bundle exec'
alias berake='bundle exec rake'
alias berspec='bundle exec rspec '
alias berss='bundle exec rake spec_standalone'
alias bersp='bundle exec rake spec_prep'

## docker
alias docker-host-ip='[ -n "$DOCKER_HOST" ] && echo "${DOCKER_HOST#tcp://}" | cut -d":" -f1'
alias docker-exec='docker exec -it $(docker ps -qa | head -1) /bin/bash'


## virtualenv
alias sd='source deactivate; pyenv rehash'


## external-ip
alias external-ip='dig +short myip.opendns.com @resolver1.opendns.com'

## utils
alias rm-ctrlm='sed -e s///g'
