## bash aliases

## osx fix dns
alias osx-fix-dns='sudo killall -9 mDNSResponder'
alias osx-hup-dns='sudo kill -9 $(pgrep -f "dnsmasq")'

## ruby
alias be='bundle exec $*'
alias berake='bundle exec rake $*'
alias berspec='bundle exec rspec $*'
alias berss='bundle exec rake spec_standalone'
alias bersp='bundle exec rake spec_prep'

## docker
alias docker-host-ip='[ -n "$DOCKER_HOST" ] && echo "${DOCKER_HOST#tcp://}" | cut -d":" -f1'
alias docker-exec='docker exec -it $(docker ps -qa | head -1) /bin/bash'


## virtualenv
alias sd='source deactivate'
